{% for doc in doc_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><b>{{ doc.document_number }}</b></td>
        <td style="word-break: break-word; white-space: break-spaces;" >{{ doc.doc_title }}</td>
        <td><b>{{ doc.doc_status.doc_status_display_name  }}</b></td>
        <td>
            <a href="{% url 'docapp:docdetails'  doc.doc_id %}">
                <button type="button" class="btn btn-danger d-inline-flex align-items-center">
                    More &nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                    </svg>
                </button>
            </a>
        </td>
    </tr>
{% endfor %}
{% if next_page_exists %}
    <tr id="replaceMe">
        <td colspan="5" class="text-center my-2">
            <button class='btn btn-success text-white' hx-get="{% url 'docapp:doc_list_filtered' person_type=person_type %}?page={{next_page_number}}"
                hx-target="#replaceMe"
                hx-swap="outerHTML"
                hx-include="form[id='{{include_form}}']"
                hx-indicator="#load_more_spinner"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
            </svg>
                Load More 
            </button>
            <center id="load_more_spinner" class="htmx-indicator" >
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </center>
        </td>
    </tr>
{% endif %}
