<div class="modal-header">
    <h2 class="h6 modal-title">Edit Title/Abstract</h2><button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
</div>
<form hx-post="{% url 'docapp:doceditbasic' doc_id %}">
    <div class="modal-body">
        <p class="card-text">
            {% csrf_token %}
        <div class="mb-2">
            <label for="{{ form.doc_title.id_for_label }}"> Document Title: </label>
            {{ form.doc_title }}
            <div class="invalid-feedback">
                {{ form.doc_title.errors }}
            </div>
        </div>

        <div class="mb-2">
            <label for="{{ form.abstract.id_for_label }}"> Document Abstract: </label>
            {{ form.abstract }}
            <div class="invalid-feedback">
                {{ form.abstract.errors }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-lg-6 col-sm-6 mb-1">
                <label class="my-1 me-2" for="{{ form.control_status.id_for_label }}">Control Status</label>
                {{ form.control_status }}
                <div class="invalid-feedback">
                    {{ form.control_status.errors }}
                </div>
            </div>
            <div class="col-12 col-lg-6 col-sm-6 mb-1">
                <label class="my-1 me-2" for="{{ form.security_classification.id_for_label }}">Security
                    Classification</label>
                {{ form.security_classification }}
                <div class="invalid-feedback">
                    {{ form.security_classification.errors }}
                </div>
            </div>
        </div>

        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
    </div>
</form>