<div class="mb-4">
    <div class="row align-items-center">

        <div class="col-auto ms--2">
            <h4 class="h6 mb-0">
                <label for="title">
                    Title
                </label>
            </h4>

        </div>
    </div>

    <textarea style="pointer-events: none;" class="form-control  flex-grow-1" id="title"
        rows="4">{{ doc.doc_title }}</textarea>
</div>

<div class="my-4">

    <div class="row align-items-center">

        <div class="col-auto ms--2">
            <h4 class="h6 mb-0">
                <label for="textarea">Abstract</label>
            </h4>

        </div>

    </div>

    {% if doc.abstract %}
    <textarea readonly style="width : 100%; " class="form-control" id="textarea"
        rows="8">{{ doc.abstract }}</textarea>
    {% else %}
    <textarea readonly style="width: 100%;" class="form-control" id="textarea"
        rows="8">No Abstract Available</textarea>
    {% endif %}



</div>
<div class="my-4">
    <div class="row mb-4">
        <div class="col-lg-6 col-sm-6">
            <label class="my-1 me-2" for="control_status">Control Status</label>
            <input style="pointer-events: none;" class="form-control" id="control_status"
                value="{{ doc.control_status }}">

        </div>
        <div class="col-lg-6 col-sm-6">
            <label class="my-1 me-2" for="security_classification">Security
                Classification</label>
            <input style="pointer-events: none;" class="form-control"
                id="security_classification" value="{{ doc.security_classification }}">
        </div>



    </div>
</div>