{% load static %}
<div class="card-body">
    <ul class="list-group list-group-flush list my--3">
        
        {% for person in people %}
            <li style="background-color: inherit; border-bottom: solid 1px #b1b1b1 !important;" class="list-group-item px-0 border-bottom">
                <div class="d-flex align-items-center justify-content-start">
                    <div class="me-3"> <img class="rounded avatar-lg"
                            src="{% static 'docapp/assets/img/team/profile-picture-1.jpg' %}" alt="change avatar">
                    </div>

                    <div class="d-flex justify-content-xl-center ms-xl-3">
                        <div class="d-flex">
                            <div class="d-md-block text-left">
                                <div class="fw-normal text-dark mb-1"><b>{{person.emp.emp_name}}</b></div>
                                <div class="text-gray small">
                                    {{person.emp.emp_code}} <br>
                                    ----
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </li>
        {% endfor %}
    </ul>
</div>