<div class="card-body">
    <div class="row">
        <div class="col-sm-3 mb-3">
            <div class="form-group">
                <label for="num_pages">Number of Pages</label>
                <input style="pointer-events: none;" class="form-control" id="num_pages"
                    type="text" value="{{doc.doc_num_page}}" required="">
            </div>
        </div>
        <div class="col-sm-3 mb-3">
            <div class="form-group">
                <label for="num_references">Number of References</label>
                <input style="pointer-events: none;" class="form-control" id="num_references"
                    type="text" value="{{doc.num_references}}" required="">
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>
