<b>Keywords</b> :
{% if keywords|length == 0 %}
    <span class="text-danger text-small">Add Keywords for the Document</span>
{% else %}
    {% for keyword in keywords %}
    <span class="badge bg-success">{{ keyword.keyword.keyword_name }}</span>
    {% endfor %}
{% endif %}

       