<div class="modal-header">
    <h2 class="h6 modal-title">Number of Pages & References</h2><button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post="{% url 'docapp:doceditpagesreferences' doc_id %}">
    {% csrf_token %}
    <div class="modal-body">
        <p class="card-text">        
            <div class="row mb-3">
                <div class="col-12 col-lg-6 col-sm-6 mb-1">
                    <label class="my-1 me-1" for="{{ document_pages_references_form.doc_num_page.id_for_label }}">Number of Pages</label>
                    {{ document_pages_references_form.doc_num_page }}
                    <div class="invalid-feedback">
                        {{ document_pages_references_form.doc_num_page.errors }}
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-sm-6 mb-1">
                    <label class="my-1 me-2" for="{{ document_pages_references_form.num_references.id_for_label }}">Number of References</label>
                    {{ document_pages_references_form.num_references }}
                    <div class="invalid-feedback">
                        {{ document_pages_references_form.num_references.errors }}
                    </div>
                </div>
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
    </div>
</form>