<div class="modal-header">
    <h2 class="h6 modal-title">Edit Details of Entity/Project & Report Type</h2><button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post="{% url 'docapp:doceditentityreporttype' doc_id %}">
    {% csrf_token %}
    <div class="modal-body">
        <p class="card-text">
           {% if entity_report_type_form.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for error in entity_report_type_form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% for field in entity_report_type_form %}
                <div class="fieldWrapper mt-3">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
    </div>
</form>