<div class="modal-header">
    <h2 class="h6 modal-title">Add/Edit {{person_type_text}}</h2><button type="button" class="btn-close"
        data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form hx-post="{% url 'docapp:doceditpersontype' doc_id=doc_id person_type=person_type %}">
{% csrf_token %}
<div class="modal-body">
    
    {% if document_person_forms.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in document_person_forms.non_form_errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
   
    <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
            <thead class="thead-light">
                <tr>
                    <th style="width: 10%;" class="border-0 d-none">Delete</th>
                    <th style="width: 80%;" class="border-0 rounded-start">Employee Name</th>
                    <th style="width: 10%;" class="border-0">Order in {{person_type}} </th>
                    <th style="width: 5%;" class="border-0 rounded-end">Actions</th>
                </tr>
            </thead>
            {{ document_person_forms.management_form }}
            <tbody id="{{person_type}}_tablebody">
                {% for document_person_form in document_person_forms  %}
                    {% include 'docapp/doc_details_page_templates/doc_peoples_form.html' with document_person_form=document_person_form count_prefix=forloop.counter0 person_type=person_type %}
                {% endfor %}
            </tbody>
        </table>

       
    </div>


    <div class="mt-3 d-flex float-right">
        <button type="button" class="btn btn-success d-inline-flex align-items-center text-white ms-auto"
            hx-get="{% url 'docapp:docpersonnewform'  person_type=person_type %}"
            hx-include='#id_{{person_type}}-TOTAL_FORMS'
            hx-target="#{{person_type}}_tablebody"
            hx-swap="beforeend"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-person-plus-fill mx-1" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
            </svg>
            Add

        </button>
    </div>

</div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-secondary">Submit</button>
    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
</div>
</form>