<div class="modal-header">
    <h2 class="h6 modal-title">Add/Delete Keywords</h2><button type="button" class="btn-close" data-bs-dismiss="modal"
        aria-label="Close"></button>
</div>
<form hx-post="{% url 'docapp:doceditkeywords' doc_id=doc_id%}">
    {% csrf_token %}
    <div class="modal-body">
    <p class="card-text">
            {{ keywords_form }}
    </p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-secondary">Submit</button>
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
    </div>
</form>