<tr {% if document_person_form.DELETE.value %} class="d-none" {%  endif %}>
    <td class="d-none">
        {{document_person_form.DELETE}}
    </td>
    <td>
        {{ document_person_form.person }}
        <div class="invalid-feedback">
            {{ document_person_form.person.errors }}
        </div>
    </td>
    <td>
        {{ document_person_form.print_order }}
        <div class="invalid-feedback">
            {{ document_person_form.print_order.errors }}
        </div>
    </td>
    <td>
        <button type="button" id="button_{{person_type}}_{{count_prefix}}_form" class="btn btn-danger d-inline-flex align-items-center"
            hx-on:click="removeForm(this,'{{person_type}}');">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
            </svg>
        </button>
    </td>
</tr>