<div class="modal fade" id="modal_title_abstract" tabindex="-1" aria-labelledby="modal-default" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_title_abstract_form" hx-target="this">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_keywords" tabindex="-1" aria-labelledby="modal-default" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_keywords_form" hx-target="this">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_project_reporttypes" tabindex="-1" aria-labelledby="modal-default" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_project_reporttypes_form" hx-target="this">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_pages_references" tabindex="-1" aria-labelledby="modal-default" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_pages_references_form" hx-target="this">
        </div>
    </div>
</div>

<div class="modal fade" id="modal_person_type" tabindex="-1" aria-labelledby="modal-default" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" id="modal_person_type_form" hx-target="this">
        </div>
    </div>
</div>