{% extends "docapp/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'docapp/vendor/quiljs/quill.snow.css' %}" />
{% endblock %}

{% block content %}
<style>
    .form-control {
        font-weight: 500;
    }
</style>
<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
            <a href="{% url 'docapp:index' %}">
                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                    </path>
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'docapp:doc_list' person_type='author' %}">Document</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ doc.doc_id }}</li>
    </ol>
</nav>

<br />

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger my-1" role="alert">
        {% else %}
            <div class="alert alert-success my-1" role="alert">
        {% endif %}
                <p class="mb-0"> 
                    {{ message }}
                </p>
        </div>
    {% endfor %}
{% endif %}

<div style="margin-top: 10px;" class="row">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5 col-sm-12 col-md-12">
                        <img style="width: 100%; height: 100%;" src="{% url 'docapp:viewdocumentthumbnail' doc_id=doc_id %}">
                    </div>
                    <div class="col-lg-7 col-sm-12 col-md-12">
                        <center>
                            <h3>Document Details</h3>
                        </center>
                        <hr>

                        <div class="mb-2">
                            <b>Document Number : </b> 
                                {% if docnumber %}
                                    {% if docnumber.document_number_status.doc_num_status_name == NUMBER_PENDING_ASSIGNMENT %}
                                        <span class="text-danger">  <b>XXXXXXXXXXXXXXXXXX</b> </span>
                                    {% elif docnumber.document_number_status.doc_num_status_name == NUMBER_WITHDRAWN %}
                                        <span class="text-danger"> <b>{{ docnumber.document_number }} </b></span>
                                    {% else %} 
                                        <span class="text-success"><b>{{ docnumber.document_number }}</b></span>   
                                    {% endif %}
                                {% else %}
                                    <span class="text-danger"> <b>XXXXXXXXXXXXXXXXXX </b></span>
                                {% endif %}
                            </span>
                        </div>
                        <div class="mb-2">
                            <b>Document Status : </b> 
                            {% if doc.doc_status.doc_status_name == DOC_UNDER_REVIEW or doc.doc_status.doc_status_name == DOC_COMPLETED %}
                                <span class="text-success">
                                    <b>{{ doc.doc_status.doc_status_display_name }}</b> 
                                </span>
                            {% else %}
                                <span class="text-danger">
                                    <b>{{ doc.doc_status.doc_status_display_name }}</b> 
                                </span>
                            {% endif %}
                        </div>
                        <div class="mt-1">
                            {% if doc.doc_file %}
                            <button class="btn btn-primary" id="docpreviewbutton" type="button" data-url="{% url 'docapp:viewdocument' doc_id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                  </svg>
                                Preview Document
                            </button>
                            {% endif %}
                        </div>
                        
                        <hr>
                        
                        
                        {% if doc.doc_status.doc_status_name == DOC_DRAFT or doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD or doc.doc_status.doc_status_name == DOC_REUPLOAD %}
                            <div class="row align-items-center">
                                <div class="col text-end">
                                    <button hx-get="{% url 'docapp:doceditbasic' doc_id %}" style="float: right;"
                                        class="btn btn-sm btn-secondary" type="button" 
                                        hx-target="#modal_keywords_form">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                        
                                        Edit Details</button>
                                </div>
                            </div>
                        {% endif %}

                        <div id="titleAbstractDiv" hx-trigger="{{triggers.basicdetails}} from:body"
                            hx-get="{% url 'docapp:docgetbasic' doc_id %}" hx-target="this">
                            {% include 'docapp/doc_details_page_templates/doc_title_abstract.html' %}
                        </div>

                
                        
                        <div>
                            <div class="my-4">
                                <div class="row align-items-center">
                                    <div  id="keywordsDiv" hx-trigger="{{triggers.keywords}} from:body" 
                                    hx-get="{% url 'docapp:docgetkeywords' doc_id %}" hx-target="this" class="col-10">
                                        {% include 'docapp/doc_details_page_templates/doc_keywords.html' %}
                                    </div>
                                    
                                    {% if doc.doc_status.doc_status_name == DOC_DRAFT or doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD or doc.doc_status.doc_status_name == DOC_REUPLOAD %}
                                        <div class="col-2">
                                            <button hx-get="{% url 'docapp:doceditkeywords' doc_id %}" style="float: right;" class="btn btn-sm btn-secondary" type="button" 
                                                hx-target="#modal_keywords_form">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                </svg> &nbsp;
                                                Edit
                                                Keywords
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                
                            </div>
                        
                        </div>

                    </div>
                </div>
                <hr>

                <div class="card border-0 ">

                    
                    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                        <h2 class="fs-5 fw-bold mb-0">Details of Entity/Project
                            &nbsp; 
                            {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                                <button hx-get="{% url 'docapp:doceditentityreporttype' doc_id %}" class="btn btn-sm btn-secondary" type="button" 
                                    hx-target="#modal_project_reporttypes_form">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg> &nbsp;
                                    Edit Details
                                </button>
                            {% endif %}
                        </h2>
                    </div>
                    
                    
                    <div id="entityReportTypeDiv" hx-trigger="{{triggers.entityreporttype}} from:body"
                        hx-get="{% url 'docapp:docgetentityreporttype' doc_id %}" hx-target="this">
                        {% include 'docapp/doc_details_page_templates/doc_project_reporttype.html' %}
                    </div>
                </div>
                
                
                
                <div style="margin-top: 20px;" class="row">
                    
                    <!-- AUTHOR -->
                    <div class=" my-2 col-lg-3 col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
                        <div class="w-100">
                            <div class="card border-1 shadow  h-100 bg-yellow-100">
                                <div class="card-header border-bottom d-flex align-items-center justify-content-between" style="border-bottom: solid 1px #b1b1b1 !important;">
                                    <h2 class="fs-5 fw-bold mb-0">{{AUTHOR_TEXT}}</h2>
                                    {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                                        <a  class="btn btn-sm btn-success text-white"
                                        hx-get="{% url 'docapp:doceditpersontype' doc_id=doc_id person_type=AUTHOR_CONSTANT %}"
                                        hx-target="#modal_person_type_form">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                            </svg> &nbsp;
                                            Edit
                                        </a>
                                    {% endif %}
                                </div>
                        
                                <div hx-trigger="{{triggers.author}} from:body"
                                    hx-get="{% url 'docapp:docgetpersontype' doc_id=doc_id person_type=AUTHOR_CONSTANT %}" hx-target="this">
                                        {% include 'docapp/doc_details_page_templates/doc_peoples.html' with doc_id=doc_id people=authors person_type=AUTHOR_CONSTANT person_type_text=AUTHOR_TEXT %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- CHECKED BY -->
                    <div class=" my-2 col-lg-3 col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
                        <div class="w-100">
                            <div style="background-color : rgb(240 249 255);" class="card border-1 shadow  h-100">
                                <div class="card-header border-bottom d-flex align-items-center justify-content-between" style="border-bottom: solid 1px #b1b1b1 !important;">
                                    <h2 class="fs-5 fw-bold mb-0">{{CHECKED_BY_TEXT}}</h2>
                                    {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                                        <a  class="btn btn-sm btn-success text-white"
                                        hx-get="{% url 'docapp:doceditpersontype' doc_id=doc_id person_type=CHECKED_BY_CONSTANT %}"
                                        hx-target="#modal_person_type_form">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                            </svg> &nbsp;
                                            Edit
                                        </a>
                                    {% endif %}
                                </div>

                                <div  hx-trigger="{{triggers.checkedby}} from:body"
                                    hx-get="{% url 'docapp:docgetpersontype' doc_id=doc_id person_type=CHECKED_BY_CONSTANT %}" hx-target="this">
                                        {% include 'docapp/doc_details_page_templates/doc_peoples.html' with doc_id=doc_id people=checkedby person_type=CHECKED_BY_CONSTANT person_type_text=CHECKED_BY_TEXT %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- REVIEWER -->
                    <div class=" my-2 col-lg-3 col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
                        <div class="w-100">
                            <div class="card border-1 shadow  h-100 bg-yellow-100">
                                <div class="card-header border-bottom d-flex align-items-center justify-content-between" style="border-bottom: solid 1px #b1b1b1 !important;">
                                    <h2 class="fs-5 fw-bold mb-0">{{REVIEWER_TEXT}}</h2>
                                    {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                                        <a  class="btn btn-sm btn-success text-white"
                                        hx-get="{% url 'docapp:doceditpersontype' doc_id=doc_id person_type=REVIEWER_CONSTANT %}"
                                        hx-target="#modal_person_type_form">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                            </svg> &nbsp;
                                            Edit
                                        </a>
                                    {% endif %}
                                </div>

                                <div hx-trigger="{{triggers.reviewer}} from:body"
                                    hx-get="{% url 'docapp:docgetpersontype' doc_id=doc_id person_type=REVIEWER_CONSTANT %}" hx-target="this">
                                        {% include 'docapp/doc_details_page_templates/doc_peoples.html' with doc_id=doc_id people=reviewers person_type=REVIEWER_CONSTANT person_type_text=REVIEWER_TEXT %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- APPROVER -->
                    <div class=" my-2 col-lg-3 col-md-6 col-sm-6 col-12 d-flex align-items-stretch">
                        <div class="w-100">
                            <div style="background-color : rgb(240 249 255);" class="card border-1 shadow  h-100">
                                <div class="card-header border-bottom d-flex align-items-center justify-content-between" style="border-bottom: solid 1px #b1b1b1 !important;">
                                    <h2 class="fs-5 fw-bold mb-0">{{APPROVER_TEXT}}</h2>
                                    {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                                        <a  class="btn btn-sm btn-success text-white"
                                        hx-get="{% url 'docapp:doceditpersontype' doc_id=doc_id person_type=APPROVER_CONSTANT %}"
                                        hx-target="#modal_person_type_form">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                            </svg> &nbsp;
                                            Edit
                                        </a>
                                    {% endif %}
                                </div>

                                <div  hx-trigger="{{triggers.approver}} from:body"
                                    hx-get="{% url 'docapp:docgetpersontype' doc_id=doc_id person_type=APPROVER_CONSTANT %}" hx-target="this">
                                        {% include 'docapp/doc_details_page_templates/doc_peoples.html' with doc_id=doc_id people=approvers person_type=APPROVER_CONSTANT person_type_text=APPROVER_TEXT %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                

                <div class="card border-0 ">
                    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                        <h2 class="fs-5 fw-bold mb-0">Other Information
                            &nbsp; 
                            {% if doc.doc_status.doc_status_name == DOC_DRAFT or doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD or doc.doc_status.doc_status_name == DOC_REUPLOAD %}
                                <button class="btn btn-sm btn-secondary" type="button"
                                    hx-get="{% url 'docapp:doceditpagesreferences' doc_id %}"
                                    hx-target="#modal_pages_references_form">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path
                                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd"
                                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                    </svg> &nbsp;
                                    Edit Details
                                </button>
                            {% endif %}
                        </h2>
                
                    </div>
                    <div style="margin-top: 5px" hx-trigger="{{triggers.pagesreferences}} from:body"
                        hx-get="{% url 'docapp:docgetpagesreferences' doc_id %}" hx-target="this">
                            {% include 'docapp/doc_details_page_templates/doc_pages_references.html' %}
                    </div>
                </div>

                
                    
                {% if document_upload_form %}
                    <hr/>
                    <form method="post" action="{% url 'docapp:docupload' doc_id=doc_id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row mb-3 d-flex align-items-end">
                                <div class="col-12 col-lg-3 col-sm-3 mb-1">
                                    <label class="my-1 me-1" for="{{ document_upload_form.document_field.id_for_label }}">Upload File</label>
                                    {{ document_upload_form.document_field }}
                                    <div class="invalid-feedback">
                                        {{ document_upload_form.document_field.errors }}
                                    </div>
                                </div>
                                <div class="col-12 col-lg-3 col-sm-3 mb-1">
                                    <button class="btn btn-sm btn-secondary" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
                                        <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                        <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                                    </svg>
                                    Upload Document
                                </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                {% endif %}

                <hr>
                <div>
                    <div class="mb-2">

                        {% if doc.doc_status.doc_status_name == DOC_DRAFT %}
                        <a href="{% url 'docapp:docgeneratenumber' doc_id=doc_id %}">
                            <button class="btn btn-primary" id="successAlert" type="button">
                                Generate Document Number
                            </button>
                        </a>
                        {% endif %}

                        {% if doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD %}
                            <a href="{% url 'docapp:libsubmit' doc_id=doc_id %}">
                                <button class="btn btn-primary" type="button">
                                    Send to Library
                                </button>
                            </a>
                        {% endif %}
                        {% if doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD  or doc.doc_status.doc_status_name == DOC_REUPLOAD %}
                            <a href="{% url 'docapp:docwithdraw' doc_id=doc_id %}">
                                <button class="btn btn-danger" type="button">
                                    Withdraw Document
                                </button>
                            </a>
                        {% endif %}
                        {% if doc.doc_status.doc_status_name == DOC_PENDING_UPLOAD  or doc.doc_status.doc_status_name == DOC_REUPLOAD %}
                            <a href="{% url 'docapp:dateextension' doc_id=doc_id %}">
                                <button class="btn btn-danger" type="button">
                                    Extension for 1 Month
                                </button>
                            </a>
                        {% endif %}
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>

{% include "docapp/doc_details_page_templates/modals.html" %}

{% endblock %}

{% block scripts %}
<script src="{% static 'docapp/js/doc_details.js' %}"></script>
<script src="{% static 'docapp/vendor/quiljs/quill.js' %}"></script>

{% endblock %}