{% extends "docapp/base.html" %}
{% load static %}
{% block content %}
<style>
    .form-control {
        font-weight: 500;
    }
</style>
<style>
    .dataTable-pagination-list {
        display: flex;
        padding-left: 0;
        list-style: none;
    }

    .dataTable-pagination-list li.active a {
        z-index: 3;
        color: #ffffff;
        border-color: #1F2937;
        background-color: #1F2937;
    }

    .dataTable-pagination-list li.active a:hover {
        z-index: 3;
        color: #ffffff;
        border-color: #1F2937;
        background-color: #1F2937;
    }

    .dataTable-pagination-list li a:hover {
        z-index: 2;
        color: #000;
        background-color: #E5E7EB;
        border-color: #D1D5DB;
    }

    .dataTable-pagination-list li a {
        position: relative;
        display: block;
        color: #1F2937;
        background-color: #ffffff;
        border: 0.0625rem solid #9CA3AF;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    table th {
        width: auto !important;
    }
</style>
<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent mb-0">
        <li class="breadcrumb-item">
            <a href="#">
                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                    </path>
                </svg>
            </a>
        </li>
        <li class="breadcrumb-item active"><a href="#">Document List</a></li>
    </ol>
</nav>

<div style="margin-top: 15px;" class="card border-0 shadow mb-4">
    <div class="card-body">
        <h2 class="h5 mb-4">List of Documents</h2>

        <div class="row mb-2">
            <div class="col">
                <div class="form-check form-switch float-end">
                    <form id="search_toggle_form" hx-get="{% url 'docapp:doc_list_filtered' person_type=person_type %}" hx-trigger="change" hx-target="#doclist_table">
                        <input type="hidden"  name="search_toggle_button_hidden" value="off">
                        <input name="search_toggle_button" class="form-check-input" type="checkbox"
                            id="advancedsearchtoggle" > 
                        <label class="form-check-label" for="advancedsearchtoggle">Advanced
                            Search</label>
                    </form>
                </div>
            </div>
        </div>
        <div id="simplesearch">
            <form id="simplesearch_form" 
                hx-get="{% url 'docapp:doc_list_filtered' person_type=person_type %}" 
                hx-target="#doclist_table"
                hx-indicator="#table_spinner"
                hx-trigger =  "change delay:500ms, submit"
            >
                <div class="row mb-1">
                    <div class="col-12 col-lg-4 col-sm-12 my-2">
                        <div class="input-group"><span class="input-group-text" id="basic-addon1"><svg
                                    class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd"></path>
                                </svg> </span>
                            {{ doc_number_search.document_number }}
                        </div>
                    </div>
                    <input type="hidden" name="simplesearch_form_hidden" value="1"/>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        <button type="submit" name="simplesearch_submit" class="btn btn-secondary d-inline-flex align-items-center">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div id="advancedsearch">
            <form id="advancedsearch_form" 
                hx-get="{% url 'docapp:doc_list_filtered' person_type=person_type %}"
                hx-target="#doclist_table"
                hx-indicator="#table_spinner"
                hx-trigger = "change delay:500ms, submit"
            >
            
                <div class="row mb-2" id="advancedsearch">
                    <input type="hidden" name="advancedsearch_form_hidden" value="1"/>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        {{ adv_search.authors_name }}
                    </div>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        {{ adv_search.reviewers_name }}
                    </div>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        {{ adv_search.approvers_name }}
                    </div>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        {{ adv_search.document_status }}
                    </div>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        {{ adv_search.document_title }}
                    </div>
                    <div class="col-12 col-lg-3 col-sm-12 my-2">
                        <button type="submit" name="advancedsearch_submit" class="btn btn-secondary d-inline-flex align-items-center">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <hr>

        <div id="document_list" class="align-items-center">
            <div class="table-responsive py-4">
                <table class="table table-flush" style="width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <!--<th style="width : 5%;" >#</th>
                            <th style="width : 7%;" >Document Number</th>
                            <th style="min-width: 74%; max-width : 74%;">Document Title</th>
                            <th style="width : 7%;" >Document Status</th>
                            <th style="width : 7%;">Actions</th>
                            -->
                            <th>#</th>
                            <th>Document Number</th>
                            <th>Document Title</th>
                            <th>Document Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    
                    <tbody id="doclist_table">
                        {% include "docapp/doc_list_page_templates/list_template.html" %}
                        
                    </tbody>
                </table>
            </div>
        </div>
        
        <center id="table_spinner" class="my-2 htmx-indicator" >
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </center>
    </div>
</div>

<script>
    var el = document.querySelector('#advancedsearchtoggle');

    var simplesearch = document.getElementById('simplesearch');
    var advancedsearch = document.getElementById('advancedsearch');
    simplesearch.style.display = "block";
    advancedsearch.style.display = "none";

    el.onclick = function () {
        var checked = el.checked;
        if (checked) {
            document.getElementById("simplesearch_form").reset();
            simplesearch.style.display = "none";
            advancedsearch.style.display = "block";
        }
        else {
            document.getElementById("advancedsearch_form").reset();
            simplesearch.style.display = "block";
            advancedsearch.style.display = "none";
        }
    }

</script>

{% endblock %}

{% block scripts %}
<script src="{% static 'docapp/js/doc_list.js' %}"></script>
{% endblock %}