{% extends "docapp/base.html" %}

{% block content %}
{% load static %}
<!-- <button class="btn btn-primary" type="button">Regular</button> -->
<div class="my-4">
     <div class="row">
          <div class="col-12 col-sm-6 col-xl-4 mb-4">
               <div class="card border-0 shadow">
                    <div class="card-body">
                         <canvas id="myChart"  height="400"></canvas>
                    </div>
               </div>
          </div>
          <div class="col-12 col-sm-6 col-xl-8 mb-4">
               <div class="card border-0 shadow">
                    <div class="card-body">
                         <canvas id="myChart2"  height="400"></canvas>
                    </div>
               </div>
          </div>
     
     </div>
</div>




<script src="{% static 'docapp/vendor/chartjs/chart.js' %}"></script>

<script>
     const ctx = document.getElementById('myChart');
     const ctx2 = document.getElementById('myChart2');
     new Chart(ctx, {
          type: 'bar',
          data: {
               labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
               datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: '#F26430BB',
                    borderWidth: 1
               }]
          },
          
          options: {
               responsive: true,
               maintainAspectRatio: false,
               plugins: {
                    title: {
                         display: true,
                         text: 'Custom Chart Title',
                         font: {
                              size: 25,
                         }
                    }
               },
               scales: {
                    y: {
                         beginAtZero: true
                    }
               }
          }
     });

     new Chart(ctx2, {
          type: 'line',
          data: {
               labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange','Cyan'],
               datasets: [{
               label: 'My First Dataset',
               data: [65, 59, 80, 81, 56, 55, 40],
               fill: false,
               borderColor: 'rgb(75, 192, 192)',
               tension: 0.1
               }]
          },
          options: {
               responsive: true,
               maintainAspectRatio: false,
              
          }
          
     });
</script>
{% endblock %}