{% extends "docapp/base.html" %}
{% load static %}
{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'docapp/css/doc_new.css' %}">
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
  <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
    <li class="breadcrumb-item">
      <a href="{% url 'docapp:index' %}">
        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
          </path>
        </svg>
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="#">New Document</a>
    </li>

  </ol>
</nav>
{% if messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <ul>
      {% for message in messages %}
        <li>{{message}}</li>
      {% endfor %}
    </ul>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}


<form method="POST" action="{% url 'docapp:newdoc' %}">
  {% csrf_token %}
<div class="card mb-10">
  <div class="card-body">
    <div class="row g-0">
      <div class="col-md-4">
        <img style="opacity: 0.7; height: 95%;" src="{% static 'docapp/assets/img/doc_new.jpeg'%}"
          class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div style="padding: 0.9rem 0.9rem;" class="card-body">
          <h3 class="card-title">
            <center>
              New Document Details
            </center>
          </h3>
          <hr>
          <p class="card-text">Enter the basic details of the new document to be submitted</p>
       
            <p class="card-text">
  
            <div class="mb-1">
              <label for="{{ form.doc_title.id_for_label }}"> Title </label>
              {{ form.doc_title }}
              <div class="invalid-feedback">
               {{ form.doc_title.errors }}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12 col-lg-6 col-sm-6 mb-1">
                <label class="my-1 me-2" for="{{ form.control_status.id_for_label }}">Control Status</label>
                {{ form.control_status }}
                <div class="invalid-feedback">
                  {{ form.control_status.errors }}
                </div>
              </div>
              <div class="col-12 col-lg-6 col-sm-6 mb-1">
                <label class="my-1 me-2" for="{{ form.security_classification.id_for_label }}">Security
                  Classification</label>
                {{ form.security_classification }}
                <div class="invalid-feedback">
                  {{ form.security_classification.errors }}
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-12 col-sm-12">
                <label class="mb-1 me-2" for="{{ form.doc_type_general.id_for_label }}">Whether it is an Entity/Project
                  Report</label>
                {{ form.doc_type_general }}
                <div class="invalid-feedback">
                  {{ form.doc_type_general.errors }}
                </div>
              </div>
            </div>
            </p>
        </div>
      </div>
    </div>
    <div class="row g-0 mt-lg-0 mt-md-1 mt-ms-0">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-1">
        <label class="my-1 me-2" for="{{ report_type_form.doc_project.id_for_label }}">Entity/Project Name</label>
        {{ report_type_form.doc_project }}
        <div class="invalid-feedback">
          {{ report_type_form.doc_project.errors }}
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-1">
        <label class="my-1 me-2" for="{{ report_type_form.doc_type.id_for_label }}">Type Of Document</label>
        {{ report_type_form.doc_type }}
        <div class="invalid-feedback">
          {{ report_type_form.doc_type.errors }}
        </div>
      </div>
    </div>

    <hr>

    <div class="row g-0">
      <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-1 mb-2">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Author(s)</h6>
            <p class="card-text">
              <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 1%;" class="border-0 d-none">Delete</th>
                            <th style="width: 70%;" class="border-0 rounded-start">Employee Name</th>
                            <th style="width: 15%;" class="border-0">Order in {{person_type}} </th>
                            <th style="width: 1%;" class="border-0 rounded-end">Actions</th>
                        </tr>
                    </thead>
                    {{ author_formset.management_form }}
                    <tbody id="{{AUTHOR_CONSTANT}}_tablebody">
                      {% for author_form in author_formset %}
                          {% include 'docapp/doc_details_page_templates/doc_peoples_form.html' with document_person_form=author_form count_prefix=forloop.counter0 person_type=AUTHOR_CONSTANT %}
                      {% endfor %}
                    </tbody>
                </table>
              </div>
            </p>
            <a  class="card-link ms-auto float-end">
              <button type="button" class="btn btn-outline-info"
                hx-get="{% url 'docapp:docpersonnewform'  person_type=AUTHOR_CONSTANT %}"
                hx-include='#id_{{AUTHOR_CONSTANT}}-TOTAL_FORMS'
                hx-target="#{{AUTHOR_CONSTANT}}_tablebody"
                hx-swap="beforeend"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"></path>
                </svg>
                Add Author
              </button>
            </a>
         
         
          </div>
        </div>        
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-1 mb-2">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Reviewer(s)</h6>
            <p class="card-text">
              <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%;" class="border-0 d-none">Delete</th>
                            <th style="width: 80%;" class="border-0 rounded-start">Employee Name</th>
                            <th style="width: 10%;" class="border-0">Order in {{person_type}} </th>
                            <th style="width: 5%;" class="border-0 rounded-end">Actions</th>
                        </tr>
                    </thead>
                    {{reviewer_formset.management_form}}
                    <tbody id="{{REVIEWER_CONSTANT}}_tablebody">
                      {% for reviewer_form in reviewer_formset %}
                          {% include 'docapp/doc_details_page_templates/doc_peoples_form.html' with document_person_form=reviewer_form count_prefix=forloop.counter0 person_type=REVIEWER_CONSTANT %}
                      {% endfor %}
                    </tbody>
                </table>
              </div>
            </p>
            <a  class="card-link ms-auto float-end">
              <button type="button" class="btn btn-outline-info"
                hx-get="{% url 'docapp:docpersonnewform'  person_type=REVIEWER_CONSTANT %}"
                hx-include='#id_{{REVIEWER_CONSTANT}}-TOTAL_FORMS'
                hx-target="#{{REVIEWER_CONSTANT}}_tablebody"
                hx-swap="beforeend"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"></path>
                </svg>
                Add Reviewer
              </button>
            </a>
         
          </div>
        </div>        
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-12 px-1 mb-2">
        <div class="card">
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Approver(s)</h6>
            <p class="card-text">
              <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th style="width: 10%;" class="border-0 d-none">Delete</th>
                            <th style="width: 80%;" class="border-0 rounded-start">Employee Name</th>
                            <th style="width: 10%;" class="border-0">Order in {{person_type}} </th>
                            <th style="width: 5%;" class="border-0 rounded-end">Actions</th>
                        </tr>
                    </thead>
                    {{approver_formset.management_form}}
                    <tbody id="{{APPROVER_CONSTANT}}_tablebody">
                      {% for approver_form in approver_formset %}
                          {% include 'docapp/doc_details_page_templates/doc_peoples_form.html' with document_person_form=approver_form count_prefix=forloop.counter0 person_type=APPROVER_CONSTANT %}
                      {% endfor %}
                    </tbody>
                </table>
              </div>
            </p>
            <a  class="card-link ms-auto float-end">
              <button type="button" class="btn btn-outline-info"
                hx-get="{% url 'docapp:docpersonnewform'  person_type=APPROVER_CONSTANT %}"
                hx-include='#id_{{APPROVER_CONSTANT}}-TOTAL_FORMS'
                hx-target="#{{APPROVER_CONSTANT}}_tablebody"
                hx-swap="beforeend"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                  <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"></path>
                </svg>
                Add Approver
              </button>
            </a>
          </div>
        </div>        
      </div>


    </div>
    <hr/>
    <button type="submit" name="draft" class="btn btn-secondary my-1" type="button">Save as Draft</button>
    <button type="submit" name="generate" style="color: white;" class="btn btn-success my-1" type="button">Generate Document Number</button>
  </div>
</div>
</form>

<!--
<small class="text-info">
              <b> NB: Once you press submit, document will be available under
                <span class="text-danger">Your Documents > Author </span> 
                for further edits </b>
            </small>
            <center style="margin-top: 30px;">
              <button type="submit" class="btn  btn-secondary" type="button">SUBMIT DETAILS</button>
            </center>

-->
{% endblock %}

{% block scripts %}
<script src="{% static 'docapp/js/doc_new.js' %}"></script>
{% endblock %}