.card .table td, .card .table th
{
    padding-left: 0.5rem;
    padding-right: 0rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}